<!-- Sign up form -->
<div class="wrapper fadeInDown" *ngIf="regForm">
    <div class="regformContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h2>Registraion Angular 17 Reactive form with validation</h2>
        </div>
        <form [formGroup]="signUpform" (ngSubmit)="onSubmitedSignUp()">

            <div class="row">
                <div class="row">
                    <div class="col-md-3"><input type="text" class="form-control" formControlName="name"
                            placeholder="Enter name"></div>
                    <div class="col-md-3"><input type="text" class="form-control" formControlName="mobNumber"
                            placeholder="Enter mobile number"></div>
                    <div class="col-md-3"><input type="text" class="form-control" formControlName="age"
                            placeholder="Enter age"></div>
                    <div class="col-md-3"><input type="date" class="form-control" formControlName="dob"
                            placeholder="Enter Date of birth"></div>
                </div>
    
                <!---- new row  --------->
                <div class="row">
                    <div class="col-md-3">
                        <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                    </div>
    
                    <div class="col-md-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="addLine1"
                            placeholder="Address 1, 12,1 street">
                    </div>
    
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="addLine2"
                            placeholder="Address 2,appartments, floor">
                    </div>
    
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
                    </div>
    
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="zipCode" placeholder="Enter Zip code">
    
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-3">
                        <label for="state">State</label>
                        <select class="form-control multiple" id="inputState" formControlName="state">
                            <option selected>Chose...</option>
                            <option value="kpk">............</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="language">Language</label>
                        <select  class="form-control multiple" formControlName="language">
                            <option value="Pushto">Pushto</option>
                            <option value="Urdu">Urdu</option>
                            <option value="English">English</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="role">What do you want?</label>
                        <select class="form-control multiple" formControlName="role">
                            <option value="seller">Seller</option>
                            <option value="buyer">Buyer</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="gender">gender</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-inline" formControlName="gender" value="Male">
                            <label for="male" class="form-check-inline">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-inline" formControlName="gender" value="Female">
                            <label for="female" class="form-check-inline">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-inline" formControlName="gender" value="Other">
                            <label for="other" class="form-check-inline">Other</label>
                        </div>
                    </div>
                    
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <label for="aboutYou">Some Thing about you</label>
                        <textarea class="form-control" rows="3" formControlName="aboutYou"></textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="uploadPhoto">Upload Phote</label>
                        <input type="file" class="form-control" formControlName="uploadPhoto">
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                        <label for="agreetc" class="form-check-inline">Tearm & Condition</label>
                    </div>
                </div>
    
            </div>
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/sign-in">Already have account click here to login</a>
        </div>

    </div>
</div>


<!-- LOGIN FORM -->
<div class="wrapper fadeInDown" *ngIf="!regForm">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h2>Login form using template driven form</h2>
        </div>

        <!-- Login Form -->
        <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
            <input type="email" class="fadeIn second" name="userEmail" placeholder="Enter Username or Email"
                [(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel" required>

            <input type="password" class="fadeIn second" name="userPassword" placeholder="Enter Password"
                [(ngModel)]="signInFormValue.userPassword" #userPassword="ngModel" minlength="6" required
                togglePassword>

            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/sign-up">Don’t have an account click here to Register</a>
        </div>

    </div>
</div>